body {
  background-color: cornflowerblue;
  
}

.epicodus {
  font-style: italic;
  
}
.Left-Column {
  width: 500px;
  float: left;
  padding: 2px;
  font-family: serif;
}


.Middle-Column {
  width: 500px;
  float: left;
  padding: 2px;
  padding-left: 150px;
  padding-right: 150px;
  text-align: left;
  
}


.Right-Column {
  width: 500px;
  float: left;
  padding: 2px;
}


img {
  width: 500px;
  height: 400px;
}
.right{
  width: 500px;
  border: solid green;
  border-width: 1px;
  background-color:lightgreen;
  margin-bottom: 20px;
  box-sizing: border-box;
  text-align: center;
}

ol {
  padding-left: 15px;
}